.table {
  position: relative;
  display: flex;
  justify-content: center;

  & table {
    margin: 10px;
    width: 100%;
    border-collapse: collapse;

    & caption {
      padding-bottom: 10px;
      font-size: 24px;
    }
    & .table-header {
      background: goldenrod;
      color: black;

      & th .table-header-cell {
        position: relative;
        display: flex;
        justify-content: center;
      }
    }
    & tbody {
      & .row {
        border-bottom: 1px solid #ddd;
      }

      & :hover {
        background: goldenrod;
      }

      & td {
        text-overflow: ellipsis;
        text-align: center;
      }
    }

    .SortBtn {
      margin-left: 10px;
      background-color: inherit;
      border: none;
      outline: none;

      & > span {
        display: flex;
        flex-direction: column;
      }

      & .activeBtn {
        color: rgb(255, 0, 0);
      }
    }
  }
}
